In [15]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\Spark'

In [16]:
from pyspark import SparkContext, SparkConf
from pyspark.sql.types import*

In [17]:
from pyspark.sql import SparkSession
conf=pyspark.SparkConf().setAppName('SparkApp').setMaster('local')
sc=pyspark.SparkContext(conf=conf)
spark=SparkSession(sc)

In [19]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [20]:
spark = SparkSession.Builder().getOrCreate()

# READING THE DATASET

In [67]:
train = spark.read.csv('dataset.csv',header = True,inferSchema=True)

In [22]:
train.limit(5).toPandas()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [23]:
train = train.na.drop(how='any')
train.limit(5).toPandas()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.00,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.25,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.00,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.00,0,1,1200.0,678.334763,244.791237,0.000000,12
4,C10006,1809.828751,1.000000,1333.28,0.00,1333.28,0.000000,0.666667,0.000000,0.583333,0.00,0,8,1800.0,1400.057770,2407.246035,0.000000,12

# PRE PROCESSING

In [24]:
train = train.withColumn("label", train.PURCHASES_FREQUENCY>=0.5)
train = train.withColumn("label", train["label"].cast("string"))

from pyspark.ml.feature import StringIndexer
indexer = StringIndexer(inputCol="label", outputCol="target")
training = indexer.fit(train).transform(train)

training.limit(5).toPandas()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,label,target
0,C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.00,0,2,1000.0,201.802084,139.509787,0.000000,12,false,1.0
1,C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.25,4,0,7000.0,4103.032597,1072.340217,0.222222,12,false,1.0
2,C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.00,0,12,7500.0,622.066742,627.284787,0.000000,12,true,0.0
3,C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.00,0,1,1200.0,678.334763,244.791237,0.000000,12,false,1.0
4,C10006,1809.828751,1.000000,1333.28,0.00,1333.28,0.000000,0.666667,0.000000,0.583333,0.00,0,8,1800.0,1400.057770,2407.246035,0.000000,12,true,0.0

In [25]:
columns = [col for col in training.columns if col not in ['target','CUST_ID','label','PURCHASES_FREQUENCY']]

In [26]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler()\
.setInputCols(columns)\
.setOutputCol("features")
train_calss = assembler.transform(training)

In [27]:
train_calss.select("features","target").show(10)

+--------------------+------+
|            features|target|
+--------------------+------+
|[40.900749,0.8181...|   1.0|
|[3202.467416,0.90...|   1.0|
|[2495.148862,1.0,...|   0.0|
|[817.714335,1.0,1...|   1.0|
|[1809.828751,1.0,...|   0.0|
|[627.260806,1.0,7...|   0.0|
|[1823.652743,1.0,...|   0.0|
|[1014.926473,1.0,...|   1.0|
|[152.225975,0.545...|   1.0|
|[1293.124939,1.0,...|   0.0|
+--------------------+------+
only showing top 10 rows

# logistic regression- CLASSIFICTION

In [40]:
from pyspark.ml.classification import LogisticRegression
lr = LogisticRegression(featuresCol="features",labelCol="target",maxIter=10, regParam=0.3, elasticNetParam=0.8)

In [41]:
train_lr=train_calss.select("features","target")

In [42]:
training, testing = train_lr.randomSplit([0.8, 0.2])

In [43]:
model = lr.fit(training)

In [70]:
predictions = model.transform(testing)
predictions.select("prediction", "target", "features").show(35)

+----------+------+--------------------+
|prediction|target|            features|
+----------+------+--------------------+
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
|       1.0|   1.0|(16,[0,1,5,8,9,11...|
+----------+------+--------------------+
only showing top 35 rows

In [45]:
evaluator = BinaryClassificationEvaluator(labelCol = "target", rawPredictionCol = "prediction")
evaluator.evaluate(predictions)

0.9002370030581041

# K-Means- CLUSTERING

In [46]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator

columns = [col for col in training.columns if col not in ['target','CUST_ID','label']]
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler()\
.setInputCols(columns)\
.setOutputCol("features_clustering")

train_clustering = assembler.transform(training)

In [51]:
import numpy as np
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import seaborn as sbs
from matplotlib.ticker import MaxNLocator

In [60]:
# Make predictions
predictions = model.transform(train_clustering)

In [63]:
# Make predictions
predictions = model.transform(train_clustering)

In [64]:
# Evaluate clustering by computing Silhouette score
evaluator = ClusteringEvaluator()
silhouette = evaluator.evaluate(predictions)
print("Silhouette with squared euclidean distance = " + str(silhouette))

Silhouette with squared euclidean distance = 0.04945224153292215

In [71]:
predictions.select("features","prediction").limit(35).toPandas()

                                             features  prediction
0   (0.14446, 0.1, 0.0, 0.0, 0.0, 97.038129, 0.0, ...         1.0
1   (0.422555, 0.125, 0.0, 0.0, 0.0, 104.437928, 0...         1.0
2   (1.691842, 1.0, 0.0, 0.0, 0.0, 1148.820355, 0....         1.0
3   (2.02217, 0.181818, 0.0, 0.0, 0.0, 438.924394,...         1.0
4   (3.992758, 0.666667, 0.0, 0.0, 0.0, 126.723539...         1.0
5   (5.1807, 0.363636, 0.0, 0.0, 0.0, 1283.543377,...         1.0
6   (19.846569, 1.0, 0.0, 0.0, 0.0, 133.049604, 0....         1.0
7   (40.764223, 0.545455, 0.0, 0.0, 0.0, 1374.9290...         1.0
8   (71.837385, 0.454545, 0.0, 0.0, 0.0, 189.39168...         1.0
9   (72.723403, 0.909091, 0.0, 0.0, 0.0, 134.75222...         1.0
10  (83.442168, 1.0, 0.0, 0.0, 0.0, 91.564073, 0.0...         1.0
11  (85.900738, 1.0, 0.0, 0.0, 0.0, 278.348105, 0....         1.0
12  (115.937936, 0.272727, 0.0, 0.0, 0.0, 1529.395...         1.0
13  (137.507638, 1.0, 0.0, 0.0, 0.0, 94.989817, 0....         1.0
14  (147.527826, 0.727273, 0.0, 0.0, 0.0, 291.4232...         1.0
15  (152.983848, 0.375, 0.0, 0.0, 0.0, 451.815934,...         1.0
16  (153.949311, 0.363636, 0.0, 0.0, 0.0, 3988.242...         1.0
17  (162.293507, 1.0, 0.0, 0.0, 0.0, 428.185827, 0...         1.0
18  (175.635786, 1.0, 0.0, 0.0, 0.0, 54.180326, 0....         1.0
19  (195.61275, 0.888889, 0.0, 0.0, 0.0, 389.51522...         1.0
20  (197.159684, 1.0, 0.0, 0.0, 0.0, 351.023706, 0...         1.0
21  (211.1622, 0.454545, 0.0, 0.0, 0.0, 892.182389...         1.0
22  (218.890208, 0.6, 0.0, 0.0, 0.0, 447.102858, 0...         1.0
23  (226.306461, 0.363636, 0.0, 0.0, 0.0, 788.2356...         1.0
24  (226.445662, 0.909091, 0.0, 0.0, 0.0, 291.6853...         1.0
25  (247.857188, 0.454545, 0.0, 0.0, 0.0, 872.9830...         1.0
26  (263.467374, 0.454545, 0.0, 0.0, 0.0, 837.6789...         1.0
27  (266.475852, 0.272727, 0.0, 0.0, 0.0, 1560.735...         1.0
28  (281.112517, 0.727273, 0.0, 0.0, 0.0, 295.6169...         1.0
29  (289.220297, 1.0, 0.0, 0.0, 0.0, 1048.868332, ...         1.0
30  (295.680572, 1.0, 0.0, 0.0, 0.0, 497.548257, 0...         1.0
31  (298.651615, 0.888889, 0.0, 0.0, 0.0, 470.4882...         1.0
32  (306.688361, 0.272727, 0.0, 0.0, 0.0, 1426.678...         1.0
33  (324.334482, 0.888889, 0.0, 0.0, 0.0, 530.1882...         1.0
34  (324.831712, 0.363636, 0.0, 0.0, 0.0, 1282.314...         1.0

# NORMALISATION

In [72]:
# importing some libraries

import numpy as np
from pyspark.sql import functions as F
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import VectorAssembler
# checking if spark context is already created
print(sc.version)
# reading your data as a dataframe
df = sqlContext.read.format("csv") \
   .options(header='true', inferschema='true') \
   .load(os.path.realpath("dataset.csv"))

3.1.1

In [73]:
# empty dictionary d
d = {}
# Fill in the entries one by one
for col in df.columns[1:-3]:
      d[col] = df.approxQuantile(col,[0.01,0.99],0.25)
      print(col+" done")

BALANCE done
BALANCE_FREQUENCY done
PURCHASES done
ONEOFF_PURCHASES done
INSTALLMENTS_PURCHASES done
CASH_ADVANCE done
PURCHASES_FREQUENCY done
ONEOFF_PURCHASES_FREQUENCY done
PURCHASES_INSTALLMENTS_FREQUENCY done
CASH_ADVANCE_FREQUENCY done
CASH_ADVANCE_TRX done
PURCHASES_TRX done
CREDIT_LIMIT done
PAYMENTS done

In [79]:
df_new = df.withColumn(col,F.log(F.when(df[col] < d[col][0],d[col][0]).when(df[col] > d[col][1], d[col][1]).otherwise(df[col] ) +1).alias(col))

KeyError: 'CUST_ID'

In [80]:
assembler = VectorAssembler().setInputCols\
            (df_new.columns).setOutputCol("features")
transformed = assembler.transform(df_new)
scaler = MinMaxScaler(inputCol="features",\
         outputCol="scaledFeatures")
scalerModel =  scaler.fit(transformed.select("features"))
scaledData = scalerModel.transform(transformed)

NameError: name 'df_new' is not defined